@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

* {
    box-sizing: border-box;
}

.link {
    color: #222222;
}

body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #222222;
}

input {
    width: 35%;
}

input, button, textarea {
    font: 18px sans-serif;
    color: #222222;
    display: inline-block;
}

button {
    cursor: pointer;
}

.cabecalho {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #353535;
    background-color: #424242;
}

.img-header {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 15%;
    height: 18%;
}

.opcao-header {
    color: #222222;
    font-size: 130%;
    padding-top: 30%;
    display: inline-block;
}
