@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

.area-botoes {
    margin-left:10%;
    margin-top: 5%;
}

button {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
}
