@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

button {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 35%;
}

body {
        background-color: #222222;
}

p {
        color: #ffffff;
}

h1 {
        color: #ffffff;
}

.fix1 {
        margin-top: 2%;
        margin-bottom: 2%;
}

.invi {
        display: none;
}