@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

button {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
}

body {
    background-color: #222222;
}

p {
    color:#ffffff;
}

h1, h3 {
    color: #ffffff;
}

select {
    width: 35%;
}

.fix1 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.fix2 {
    margin-bottom: 2%;
}

.fix3 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.fix4 {
    margin-left: -20%;
}

.fix5 {
    margin-top: 2%;
}

.fix6 {
    margin-top:5%;
}

.atributo {
    width: 5%;
}

.icon-add {
    color: #ffffff;
    height: 200%;
    width: 35%;
    margin-left: 0%;
}

.btn, .btn:focus{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    outline:none;
}
